{% extends "base.html" %}

{% block content %}
<br>
 <h1>Books</h1>
 <a href="{{url_for('new_book')}}">
     {% if current_user.is_authenticated %}
   <button>Добавить книгу</button>
     {% endif %}
 </a> <br><br>
 <ol>
   {% for book in books %}
     <a href="{{url_for('get_one_book', book_id = book.id )}}">
    <li> "{{book.name}}" - {{book.author}} </li>
     </a>
     {% if current_user.id == 1 %}
    <a href="{{url_for('edit_books', book_id = book.id )}}"
    class="btn btn-warning">
      Изменить
    </a>
    <a href="{{url_for('delete_book', book_id = book.id )}}"
       class='btn btn-danger' style="margin-left: 10px;">
      Удалить
    </a>
     {% endif %}
    <br> <br>
  {% endfor %}
 </ol>
{% endblock %}