{% extends "base.html" %}

{% block content %}
<br>
 <a href="{{url_for('new_book')}}">
     {% if current_user.is_authenticated %}
   <a href="/books/new/" class="button">Добавить книгу</a>
     {% endif %}
 </a>
 <br><br> <h1 class="heading">Последние добавления:</h1> <br><br>
 <ul>
   {% for book in books %}
     <a href="{{url_for('get_one_book', book_id = book.id )}}">
    <li class="footer"> "{{book.name}}" - {{book.author}} </li>
     </a>
     {% if current_user.id == 1 %}
    <a href="{{url_for('edit_books', book_id = book.id )}}"
    class="button">
      Изменить
    </a>
    <a href="{{url_for('delete_book', book_id = book.id )}}"
       class='button' style="margin-left: 10px;">
      Удалить
    </a>
     {% endif %}
    <br> <br>
  {% endfor %}
 </ul>
{% endblock %}