{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('edit_books', book_id = book.id)}}" method="post">
  <div class="form-group">
    <label for="name">Название:</label>
    <input type="text" class="form-control" name="name" value="{{book.name}}"> <br>
      <label for="author">Автор:</label>
    <input type="text" class="form-control" name="author" value="{{book.author}}"> <br>
      <label for="categories">Категория:</label>
    <input type="text" class="form-control" name="categories" value="{{book.categories}}"><br>
      <label for="content">Содержание:</label>
    <input type="text" class="form-control" name="content" value="{{book.content}}"><br>
    <button type="submit"> Обновить</button>
    <a href='{{ url_for("show_books") }}'>
      <button>Отменить</button>
    </a>
  </div>
</form>
{% endblock %}