{% extends "show_book.html" %}

{% block text %}
<p class="footer">Друг мой, друг мой,</p>
<p class="footer">Я очень и очень болен.</p>
<p class="footer">Сам не знаю, откуда взялась эта боль.</p>
<p class="footer">То ли ветер свистит</p>
<p class="footer">Над пустым и безлюдным полем,</p>
<p class="footer">То ль, как рощу в сентябрь,</p>
<p class="footer">Осыпает мозги алкоголь.</p>
<br>
<p class="footer">Голова моя машет ушами,</p>
<p class="footer">Как крыльями птица.</p>
<p class="footer">Ей на шее ноги</p>
<p class="footer">Маячить больше невмочь.</p>
<p class="footer">Черный человек,</p>
<p class="footer">Черный, черный,</p>
<p class="footer">Черный человек</p>
<p class="footer">На кровать ко мне садится,</p>
<p class="footer">Черный человек</p>
<p class="footer">Спать не дает мне всю ночь.</p>
<br>
<p class="footer">Черный человек</p>
<p class="footer">Водит пальцем по мерзкой книге</p>
<p class="footer">И, гнусавя надо мной,</p>
<p class="footer">Как над усопшим монах,</p>
<p class="footer">Читает мне жизнь</p>
<p class="footer">Какого-то прохвоста и забулдыги,</p>
<p class="footer">Нагоняя на душу тоску и страх.</p>
<p class="footer">Черный человек,</p>
<p class="footer">Черный, черный!</p>
<br>
<p class="footer">«Слушай, слушай, —</p>
<p class="footer">Бормочет он мне, —</p>
<p class="footer">В книге много прекраснейших</p>
<p class="footer">Мыслей и планов.</p>
<p class="footer">Этот человек</p>
<p class="footer">Проживал в стране</p>
<p class="footer">Самых отвратительных</p>
<p class="footer">Громил и шарлатанов.</p>
<br>
<p class="footer">В декабре в той стране</p>
<p class="footer">Снег до дьявола чист,</p>
<p class="footer">И метели заводят</p>
<p class="footer">Веселые прялки.</p>
<p class="footer">Был человек тот авантюрист,</p>
<p class="footer">Но самой высокой</p>
<p class="footer">И лучшей марки.</p>
<br>
<p class="footer">Был он изящен,</p>
<p class="footer">К тому ж поэт,</p>
<p class="footer">Хоть с небольшой,</p>
<p class="footer">Но ухватистой силою,</p>
<p class="footer">И какую-то женщину,</p>
<p class="footer">Сорока с лишним лет,</p>
<p class="footer">Называл скверной девочкой</p>
<p class="footer">И своею милою.</p>
<br>
<p class="footer">Счастье, — говорил он, —</p>
<p class="footer">Есть ловкость ума и рук.</p>
<p class="footer">Все неловкие души</p>
<p class="footer">За несчастных всегда известны.</p>
<p class="footer">Это ничего,</p>
<p class="footer">Что много мук</p>
<p class="footer">Приносят изломанные</p>
<p class="footer">И лживые жесты.</p>
<br>
<p class="footer">В грозы, в бури,</p>
<p class="footer">В житейскую стынь,</p>
<p class="footer">При тяжелых утратах</p>
<p class="footer">И когда тебе грустно,</p>
<p class="footer">Казаться улыбчивым и простым —</p>
<p class="footer">Самое высшее в мире искусство».</p>
<br>
<p class="footer">«Черный человек!</p>
<p class="footer">Ты не смеешь этого!</p>
<p class="footer">Ты ведь не на службе</p>
<p class="footer">Живешь водолазовой.</p>
<p class="footer">Что мне до жизни</p>
<p class="footer">Скандального поэта.</p>
<p class="footer">Пожалуйста, другим</p>
<p class="footer">Читай и рассказывай».</p>
<br>
<p class="footer">Черный человек</p>
<p class="footer">Глядит на меня в упор.</p>
<p class="footer">И глаза покрываются</p>
<p class="footer">Голубой блевотой, —</p>
<p class="footer">Словно хочет сказать мне,</p>
<p class="footer">Что я жулик и вор,</p>
<p class="footer">Так бесстыдно и нагло</p>
<p class="footer">Обокравший кого-то.</p>
<br>
<p class="footer">........................................................................</p>
<br>
<p class="footer">Друг мой, друг мой,</p>
<p class="footer">Я очень и очень болен.</p>
<p class="footer">Сам не знаю, откуда взялась эта боль.</p>
<p class="footer">То ли ветер свистит</p>
<p class="footer">Над пустым и безлюдным полем,</p>
<p class="footer">То ль, как рощу в сентябрь,</p>
<p class="footer">Осыпает мозги алкоголь.</p>
<br>
<p class="footer">Ночь морозная.</p>
<p class="footer">Тих покой перекрестка.</p>
<p class="footer">Я один у окошка,</p>
<p class="footer">Ни гостя, ни друга не жду.</p>
<p class="footer">Вся равнина покрыта</p>
<p class="footer">Сыпучей и мягкой известкой,</p>
<p class="footer">И деревья, как всадники,</p>
<p class="footer">Съехались в нашем саду.</p>
<br>
<p class="footer">Где-то плачет</p>
<p class="footer">Ночная зловещая птица.</p>
<p class="footer">Деревянные всадники</p>
<p class="footer">Сеют копытливый стук.</p>
<p class="footer">Вот опять этот черный</p>
<p class="footer">На кресло мое садится,</p>
<p class="footer">Приподняв свой цилиндр</p>
<p class="footer">И откинув небрежно сюртук.</p>
<br>
<p class="footer">«Слушай, слушай! —</p>
<p class="footer">Хрипит он, смотря мне в лицо,</p>
<p class="footer">Сам все ближе</p>
<p class="footer">И ближе клонится. —</p>
<p class="footer">Я не видел, чтоб кто-нибудь</p>
<p class="footer">Из подлецов</p>
<p class="footer">Так ненужно и глупо</p>
<p class="footer">Страдал бессонницей.</p>
<br>
<p class="footer">Ах, положим, ошибся!</p>
<p class="footer">Ведь нынче луна.</p>
<p class="footer">Что же нужно еще</p>
<p class="footer">Напоенному дремой мирику?</p>
<p class="footer">Может, с толстыми ляжками</p>
<p class="footer">Тайно придет „она“,</p>
<p class="footer">И ты будешь читать</p>
<p class="footer">Свою дохлую томную лирику?</p>
<br>
<p class="footer">Ах, люблю я поэтов!</p>
<p class="footer">Забавный народ.</p>
<p class="footer">В них всегда нахожу я</p>
<p class="footer">Историю, сердцу знакомую, —</p>
<p class="footer">Как прыщавой курсистке</p>
<p class="footer">Длинноволосый урод</p>
<p class="footer">Говорит о мирах,</p>
<p class="footer">Половой истекая истомою.</p>
<br>
<p class="footer">Не знаю, не помню,</p>
<p class="footer">В одном селе,</p>
<p class="footer">Может, в Калуге,</p>
<p class="footer">А может, в Рязани,</p>
<p class="footer">Жил мальчик</p>
<p class="footer">В простой крестьянской семье,</p>
<p class="footer">Желтоволосый,</p>
<p class="footer">С голубыми глазами...</p>
<br>
<p class="footer">И вот стал он взрослым,</p>
<p class="footer">К тому ж поэт,</p>
<p class="footer">Хоть с небольшой,</p>
<p class="footer">Но ухватистой силою,</p>
<p class="footer">И какую-то женщину,</p>
<p class="footer">Сорока с лишним лет,</p>
<p class="footer">Называл скверной девочкой</p>
<p class="footer">И своею милою».</p>
<br>
<p class="footer">«Черный человек!</p>
<p class="footer">Ты прескверный гость.</p>
<p class="footer">Эта слава давно</p>
<p class="footer">Про тебя разносится».</p>
<p class="footer">Я взбешен, разъярен,</p>
<p class="footer">И летит моя трость</p>
<p class="footer">Прямо к морде его,</p>
<p class="footer">В переносицу...</p>
<br>
<p class="footer">........................................................................</p>
<br>
<p class="footer">...Месяц умер,</p>
<p class="footer">Синеет в окошко рассвет.</p>
<p class="footer">Ах ты, ночь!</p>
<p class="footer">Что ты, ночь, наковеркала?</p>
<p class="footer">Я в цилиндре стою.</p>
<p class="footer">Никого со мной нет.</p>
<p class="footer">Я один...</p>
<p class="footer">И разбитое зеркало...</p>
<br>
<p class="footer">[1925]</p>
{% endblock %}